// Belowkeyfeatures section

.learnabout

	section.container.section

		.row
			.col-md-6
				img(src="img/3.jpg", alt="WeMatcher is Open to Everyone")
			.col-md-6
				.section__text
					.section__text-title
						h4 WeMatcher is Open to Everyone
						
					.section__text-text
						p Everyone is welcome at WeMatcher, including YOU. If your age is 18 or more, YOU are a nice person, respectful and mannered, nothing will stop YOU to join and participate in the biggest Dating Social Network ever built. We take in high consideration your freedom, so we let YOU decide who YOU can meet choosing between one ore more of the following genders: Males, Females, Couples (or Groups) & Trans. Your sexual orientation is part of what makes YOU exceptional, and at WeMatcher we love exceptional people! Keep your real age private, YOU can choose your own age-range (single selection) and also choose the age-range of the partners YOU wish to meet (multi selection).

		.row
			.col-md-6.order-md-2
				img(src="img/4.jpg", alt="No Registration Needed")
			.col-md-6.order-md-1
				.section__text
					.section__text-title
						h3 No Registration Needed 
					.section__text-text
						p To join and start use our Random Free Chat YOU do not need to register at all. In fact, YOU can start to search and Talk with a Strangers in just few seconds. Once you accept to start searching for a Free Chat random partner, your webcam will automatically be activated and YOU will be connected in a Video Chat with a total stranger in matter of seconds, according to your preferred selected genders. However, we strongly suggest YOU to register and create a completely anonymous profile, choosing a photo or avatar, a charming nick name, and selecting your personal preferences. Once registered with WeMatcher, you will be able to use ALL the features available and you will have full access to your personal WM Coins wallet. Note, only registered users can add friend, send & receive gift and make direct video calls.
		.section-button-wrap
			.section-button
				a(href="#wematcher_widget") try for free
	
// //Belowkeyfeatures section