doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		// Global site tag (gtag.js) - Google Analytics
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-153533890-1')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag() {
			dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'UA-153533890-1');

		// Titles
		title Cookie Policy
		meta(name='keywords', content='wematcher, free chat, dating service, video call, anonimous video chat, direct video call, random video chat, dating social network')
		meta(name='description', content='Welcome to WeMatcher, the new Dating Social Network created to help YOU meet millions of new friends from all over the world, by the comfort of your own device. Start now with the simple click of a button to Talk to Strangers using our unique Random Chat, or surf between thousands of profiles to find the perfect Free Chat match in the Dating session. Thanks to WeMatcher advanced technology, YOU will be able to Video Chat using your computer, smart phone or tablet.')    
		// Syles
		link(rel='stylesheet', href='libs/bootstrap-4.3.1-dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='libs/hover-master/css/hover-min.css')
		link(rel='stylesheet', href='css/main.css')

		// FavIcons
		link(rel='shortcut icon', href='img/favicons/Favicon64.jpg', type='image/x-icon')
		link(rel='apple-touch-icon', href='img/favicons/Favicon180.jpg')

		// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//
			if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body
		//
			if lt IE 8
			p.browserupgrade
			| Вы используете
			strong устаревшую
			|  версию браузера. Пожалуйста
			a(href='http://browsehappy.com/') обновите свой браузер
			| .
		
		

		// Vendors scripts
		//
			<script src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

		script(src='libs/jquery/jquery-3.4.1.min.js')
		script(src='libs/bootstrap-4.3.1-dist/js/bootstrap.min.js')
		script(src='libs/pagescroll2id/jquery.malihu.PageScroll2id.js')
		script(src='libs/jquery/jquery.mousewheel-3.0.6.pack.js')
        
		// Internal scripts
		script(src='js/main.js')

