// Footer

footer.footer

 .container
    .row
        .col
            .footer__support-link
                a(href="#") support@wematcher.com
 
            nav.footer__links
                ul
                    li
                        a.footer__links-item(href="#") about us
                    li
                        a.footer__links-item(href="#") make money online
                    li
                        a.footer__links-item(href="#") privacy policy
                    li
                        a.footer__links-item(href="#") cookie policy
                    li
                        a.footer__links-item(href="#") terms & conditions
            .footer__line

            .footer__belowtheline.clearfix

                .footer__payment.clearfix
                    .footer__payment-text.clearfix In Partnership with
                    .footer__payment-icons
                        img(src="img/icons/Payment/icons8-paypal.svg", alt="paypal")
                        img(src="img/icons/Payment/icons8-visa.svg", alt="visa")
                        img(src="img/icons/Payment/icons8-mastercard.svg", alt="mastercard")
                        img(src="img/icons/Payment/icons8-american-express.svg", alt="am ex")
                        img(src="img/icons/Payment/icons8-discover.svg", alt="discover")

                .footer__social.clearfix
                    a.footer__social-item(href="https://vk.com/wematcher_vk", target='_blank')
                        img(src="img/icons/Social/icons8-vk.com.svg", alt="vkontakte")
                    a.footer__social-item(href="https://www.facebook.com/wematcher/", target='_blank')
                        img(src="img/icons/Social/icons8-facebook.svg", alt="facebook")
                    a.footer__social-item(href="https://www.instagram.com/wematcher/", target='_blank')
                        img(src="img/icons/Social/icons8-instagram.svg", alt="instagram")
                    a.footer__social-item(href="https://t.me/wematcher", target='_blank')
                        img(src="img/icons/Social/icons8-telegram.svg", alt="telegram")
            
            .footer__copyright © WeMatcher 2019. All Rights Reserved 










// //Footer