// Keyfeatures

.container.keyfeatures
    .keyfeatures__title Key Features:
    .row
        .col-md-6
            .keyfeatures__block.clearfix
                .keyfeatures__block-icon.order-md-2.right
                    img.circle-border(src="img/icons/Features/icons8-anime.svg", alt="Choose Unique Avatars")
                .keyfeatures__block-text.order-md-1.right Choose Unique Avatars
            .keyfeatures__block.clearfix
                .keyfeatures__block-icon.order-md-2.right
                    img.circle-border(src="img/icons/Features/icons8-photo-gallery.svg", alt="Upload Your Own Photos")
                .keyfeatures__block-text.order-md-1.right Upload Your Own Photos
            .keyfeatures__block.clearfix
                .keyfeatures__block-icon.order-md-2.right
                    img.circle-border(src="img/icons/Features/icons8-laptop-webcam.svg", alt="Direct Video Call")
                .keyfeatures__block-text.order-md-1.right Direct Video Call
            .keyfeatures__block.clearfix
                .keyfeatures__block-icon.order-md-2.right
                    img.circle-border(src="img/icons/Features/icons8-message-exchange.svg", alt="Send & Recieve Messages")
                .keyfeatures__block-text.order-md-1.right Send & Recieve Messages
            .keyfeatures__block.clearfix
                .keyfeatures__block-icon.order-md-2.right
                    img.circle-border(src="img/icons/Features/icons8-add-user-group-man-man.svg", alt="Add Friends & Be Social")
                .keyfeatures__block-text.order-md-1.right Add Friends & Be Social
        .col-md-6
            .keyfeatures__block.clearfix
                .keyfeatures__block-icon.left
                    img.circle-border(src="img/icons/Features/icons8-hide.svg", alt="Completely Anonymous")
                .keyfeatures__block-text.left Completely Anonymous
            .keyfeatures__block.clearfix
                .keyfeatures__block-icon.left
                    img.circle-border(src="img/icons/Features/icons8-portrait-mode-female.svg", alt="Gender Selection")
                .keyfeatures__block-text.left Gender Selection
            .keyfeatures__block.clearfix
                .keyfeatures__block-icon.left
                    img.circle-border(src="img/icons/Features/icons8-chat.svg", alt="Free HD Video Chat")
                .keyfeatures__block-text.left Free HD Video Chat
            .keyfeatures__block.clearfix
                .keyfeatures__block-icon.left
                    img.circle-border(src="img/icons/Features/icons8-google-translate.svg", alt="Auto Translate Text Chat")
                .keyfeatures__block-text.left Auto Translate Text Chat
            .keyfeatures__block.clearfix
                .keyfeatures__block-icon.left
                    img.circle-border(src="img/icons/Features/icons8-wedding-gift.svg", alt="Send & Receive Gifts")
                .keyfeatures__block-text.left Send & Receive Gifts


// // Keyfeatures