//Learnabout section

.learnabout

	section.container.section
			
		.learnabout__title
			p Learn about WeMatcher 
		
		.learnabout__icon
			a(href='#')
				i.fa.fa-caret-down.fa-4x

		.row
			.col-md-6
				img(src="img/1.jpg", alt="WeMatcher: Free Chat & Dating")
			.col-md-6
				.section__text
					.section__text-title
						h1 WeMatcher: Free Chat & Dating
						
					.section__text-text
						p Welcome to WeMatcher, the new Dating Social Network created to help YOU meet millions of new friends from all over the world, by the comfort of your own device. Start now with the simple click of a button to Talk to Strangers using our unique Random Chat, or surf between thousands of profiles to find the perfect Free Chat match in the Dating session. Thanks to WeMatcher advanced technology, YOU will be able to Video Chat using your computer, smart phone or tablet.

		.row
			.col-md-6.order-md-2
				img(src="img/2.jpg", alt="Wondering Why WeMatcher?")
			.col-md-6.order-md-1
				.section__text
					.section__text-title
						h3 Wondering Why WeMatcher?
					.section__text-text
						p At WeMatcher we believe in freedom & respect, reason why we built a platform that is dedicated to let adults to Talk with Strangers, to meet, flirt and interact without bounders. Matchers are, first of all, people that harmonizes with each other. People that respect each other and, last but not least, people that are willing to exchange benefits between each other. Reason why WeMatcher is created to be a totally Free Chat platform that allows virtual friends to exchange gifts between each other.


		button.section-button try for free
		
	button.share-button(href="#") share&invite
	
// //Learnabout section


