section.container.learnabout

	.learnabout__title
	.learnabout__icon

	.row 

		img(src="", alt="")
		.section__text
			.section__text-title
			.section__text-text

	.row

		.section__text
			.section__text-title
			.section__text-text

	button

	

