@import "../fonts/glacial-indifference-web-font/glacial-font.css";
@import "../fonts/font-awesome/css/font-awesome.min.css";
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  min-height: 100vh;
  background: linear-gradient(to top, #666666, #000000);
  background-repeat: no-repeat;
  font-family: 'glacial_indifference';
}
#wematcher_widget {
  width: 100%;
  height: 100%;
}
.share-button {
  background-color: transparent;
  position: fixed;
  top: 43vh;
  left: -3vh;
  transform: rotate(-90deg);
  color: #5271ff;
  border: solid 3px #5271ff;
  padding: 3px 11px;
  border-radius: 25px;
  outline: none;
}
.section-button {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 30px;
  padding-top: 20px;
  padding-right: 45px;
  padding-bottom: 20px;
  padding-left: 45px;
  background-color: #5271ff;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  outline: none;
  border: none;
}
section {
  color: #fff;
}
section .learnabout__title {
  text-align: center;
}
section .learnabout__title p {
  font-size: 20px;
  font-weight: 700;
}
section .learnabout__icon {
  text-align: center;
}
section .learnabout__icon .fa {
  color: #5271ff;
  transform: translateY(-30%);
}
section .row {
  padding-bottom: 25px;
}
section h1,
section h2,
section h3,
section h4 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #5271ff;
  font-weight: 700;
}
section p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 400;
}
section img {
  margin-top: 20px;
  border-radius: 10px;
}
section .section__text-text {
  line-height: 30px;
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.keyfigures {
  margin-bottom: 50px;
}
.keyfigures .keyfigures__line {
  width: 100%;
  border-bottom: 3px solid #fff;
}
.keyfigures .keyfigures__text {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 700;
  color: #fff;
}
.keyfigures .keyfigures__text .keyfigures__content-tittle {
  font-size: 34px;
}
.keyfigures .keyfigures__text .keyfigures__content-description {
  font-size: 24px;
}
@media (min-width: 992px) {
  .right {
    float: right;
  }
}
@media (min-width: 992px) {
  .left {
    float: left;
  }
}
.keyfeatures {
  margin-bottom: 50px;
}
.keyfeatures .keyfeatures__block {
  text-align: center;
  padding-bottom: 15px;
}
.keyfeatures .keyfeatures__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: #5271ff;
  font-weight: 700;
}
.keyfeatures .keyfeatures__block-text {
  padding-top: 16px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
.keyfeatures .circle-border {
  padding: 4px;
  border: 2px solid #5271ff;
  border-radius: 50%;
}
