#chatContainer {
    position: fixed;
    width: 400px;
    top: 0;
    right: 0;
    height: 400px;
    z-index: 1000001;
    background: white;
    border: 2px solid #949494;
    border-radius: 5px;
  }

  #messageInput {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 30px;
  }
  #messageInput img{
    height: 30px;
    width: 40px;
    float: left;
    cursor: pointer;
  }
  #messageInput input {
    width: calc(100% - 90px);
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    color: #000000;
    padding-left:10px;
    padding-right:10px;
    border-radius:4px;
  }

  .autochecked{
    float: left;
    line-height: 30px;
    color: lightgreen;
  }

  #sendButton {
    background-color: #81e9b0;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #7ae2a9;
    box-shadow: none !important;
  }
  #sendButton {
    margin-left: 3px !important;
    margin-bottom: 2px !important;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
  }

  .chatComponentLight ::-webkit-scrollbar-thumb {
    background-color: #eeeeee !important;
  }


  .message {
    overflow: hidden;
    overflow-y: scroll;
    color: white;
    padding: 10px;
    font-size: 14px;
    bottom: 30px;
    left: 0;
    right: 50%;
    height: calc(100% - 30px);
    background: #fff8d6;
}

.message::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: transparent;
}

.message::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.message::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #6AD300;
}

.message .item-wrapper {
  padding-left: 20px;
  color: black;
}
.message .item-wrapper .item {
  background-color: white;
  display: inline-block;
  padding: 5px;
  margin-top: 2px;
  border-radius: 5px;
  position: relative;
  font-size: 0.8rem;
  max-width: 80%;
  word-break: break-word;
}

.message .item-wrapper .item:before {
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 1px;
  height: 1px;
  content: '';
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-bottom-color: white;
}

.message .item-wrapper .item .original {
  color: #d9d9d9;
  font-style: italic;
  font-size: 0.8rem;
}

.message .item-wrapper.send .sender {
  color: blue;
}

.message .item-wrapper.send.received  .sender{
  color: red;
}
