.call-container{
    // position: absolute;
    // left: 0;
    // right: 0;
    // top: 50%;
    // height: 250px;
    // margin-top: -125px;

    .avatar{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        img{
            width:150px;
            height:150px;
        }
    }

    .reject{
        margin:10px;
        border-radius: 50%;
        border: 2px solid red;
        color: red;
        line-height: 30px;
        font-size: 20px;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        cursor: pointer;
        display: inline-block;

        &:hover{
            background: red;
            color: white;
        }
    }

    .accept{
        margin:10px;
        border-radius: 50%;
        border: 2px solid green;
        color: green;
        line-height: 30px;
        font-size: 20px;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        cursor: pointer;
        display: inline-block;

        &:hover{
            background: green;
            color: white;
        }
    }
}

